*{
	padding: 0px;
	margin: 0px;
}
body {
	background-color: #01171b;
}
svg path {
	fill: #00394f;
	stroke: #eee;
	stroke-width: .25; 
}

svg path:hover {
	fill: #006284;
	transition: 0.6m;
	cursor: pointer;
}

.map-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}